<!DOCTYPE html>
<html lang="en">
  <!-- this  is zied's comment -->
  <!-- salwa comments -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--font-awesome-->
   
    <script src="./js/all.js"></script>







    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="/https://fontawesob/setup/hosting-font-awesome-yourself#using-web-fonts/js/all.js"></script>
    <title>Healthy food</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Source+Serif+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!-------------Magnific popup--------------->
    <link rel="stylesheet" href="./magnific-popup/magnific-popup.css"> 
    </head>
<body>
 

        
         <!-- Navigation -->
<!--       
      <nav class="navbar navbar-expand-lg  " id="top-menu">
          
        <a class="navbar-brand " href="#">
          <img class="logo"src="./img/logo.png" alt=""></a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  >
            <div class="toggler-btn">
                   <div class ="bar bar1"></div>
                   <div class ="bar bar2"></div>
                   <div class ="bar bar3"></div>   
                   <div class ="bar bar4"></div>
            </div>
         </button> -->
         
          <!--<span class="navbar-toggler-icon"></span>-->
           <!--links-->
                
           <!-- <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                    <a class=" nav-link text-capitalize" href="./index.html" target="_blank">Acceuil </a>
                </li>
              <li class="nav-item">
                  <a class=" nav-link text-capitalize" href="#articles-speciales" target="_blank">Articles_specials </a>
              </li> 
              <li class="nav-item">
                <a class=" nav-link text-capitalize" href="#histoire" target="_blank">Histoire </a>
              </li>
              <li class="nav-item">
                <a class=" nav-link text-capitalize" href="index1.html" target="_blank">Menu </a>
              </li> 
            <li class="nav-item">
              <a class=" nav-link text-capitalize" href="#avis" target="_blank">Avis </a>
            </li> 
           <li class="nav-item">
              <a class=" nav-link text-capitalize" href="#services" target="_blank">Services </a>
         </li> 
         <li class="nav-item">
            <a class=" nav-link text-capitalize" href="./cantact.html" target="_blank">Contact </a>
       </li> 
            </ul>
            <form class="form-inline d-none d-lg-block mr-5">
              <button class="btn btn-secondary  text-capitalize" type="button">
                <a class="btn-res" href="./res.html"> Reservations</a></button>
          
            </form>
       
        </div>
      </div>
      </div>
    </div>
  </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg ">
          
    <a class="navbar-brand " href="#">
      <img class="logo"src="./img/logo.png" alt=""></a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  >
        <div class="toggler-btn">
               <div class ="bar bar1"></div>
               <div class ="bar bar2"></div>
               <div class ="bar bar3"></div>   
               <div class ="bar bar4"></div>
        </div>
     </button>
     
      <!--<span class="navbar-toggler-icon"></span>-->
      <!--links-->
 
    
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <ul class="navbar-nav mx-auto ">
          <li class="nav-item">
              <a class=" nav-link text-capitalize" href="index.html">Acceuil </a>
         </li>
       <li class="nav-item">
            <a class=" nav-link text-capitalize" href="index.html">Articles_specials </a>
       </li> 
       <li class="nav-item">
        <a class=" nav-link text-capitalize" href="index.html"> Histoire </a>
   </li>
       <li class="nav-item">
          <a class=" nav-link text-capitalize" href="index1.html">Menu </a>
     </li> 
     <li class="nav-item">
      <a class=" nav-link text-capitalize" href="index.html">Avis </a>
 </li> 
     <li class="nav-item">
        <a class=" nav-link text-capitalize" href="index.html">Services </a>
   </li> 
   <li class="nav-item">
    <a class=" nav-link text-capitalize" href="cantact.html">Contact </a>
</li>
      </ul>
      <form class="form-inline d-none d-lg-block mr-5">
        <button class="btn btn-secondary  text-capitalize" type="button">
          <a class="btn-res" href="./res.html"> Reservations</a></button>
    
      </form>
    </div>
  



</nav>


          <!--Header-->
          <header id="header top-icons">
              <div class="container" >
                <div class="row height-90 align-items-center
                justify-content-center">
                  <div class="col">
                    <div class="banner text-center">
                       <h1 class="h1-header display 1 text-capitalize ">
                          BIEN MANGER EST UN OBJECTIF <br>
                          DIGNE DE TOUTES LES LUTTES 
                       </h1>
                       <a href="./res.html" class="btn btn-danger faim-btn  my-4
                       text-capitalize">J'ai faim</a>
                       <a href="index1.html" class="btn btn-warning faim-btn my-4
                       text-capitalize">montre m'en plus</a>

                    </div>
                  </div>
                </div>
              
              </div>
              <a href="#articles-speciales" class="btn header-link px-2
              "> <i class="fas fa-utensils fa-5x"></i></a>
            </header>
      <!--End header-->
      <!--icones sociaux-->
      <div class="container-fluid  info p-3" id="top-icons">
        <div class="row ">
          <div class="col d-flex justify-content-between 
          align-items-baseline flex-wrap">
            <div class="info-icons p-2">
               <a fref="#" class=" mr-2 primary-color">
                 <i class=" i fab fa-facebook fa-2x"></i>
               </a>
               <a fref="#" class="  mr-2 primary-color">
                <i class="i fab fa-instagram fa-2x"></i>
              </a>
              <a fref="#" class=" mr-2 primary-color">
                <i class="i fab fa-twitter fa-2x"></i>
              </a>
              <a fref="#" class="  mr-2 primary-color">
                <i class=" i fab fa-yelp fa-2x"></i>
              </a>
            </div>
            <h3 class="primary-color p-2 text-capitalize">Corniche/sahloul,4000 Sousse

            </h3>
          </div>
        </div>
      </div>
      <!--end icones sociaux-->
      <!--Section articles speciales-->
      <section class="py-5" id="articles-speciales">
        <div class="container my-5">
          <div class="row parent-container">
            <!-- menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="articles-container">
                  <img src="./img/3.png"
                 class="img-fluid img-thumbnail item-img "   alt="img1">
                 
                 <a href="./img/3.png">
                <h1 class=" text-uppercase text-center item-link px-3">
                 Article special
                </h1></a>

                </div>
            </div>
            <!-- menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="articles-container">
                  <img src="./img/1.png"
                 class="img-fluid img-thumbnail item-img "   alt="img1">
                 <a href="./img/1.png">
                <h1 class=" text-uppercase text-center item-link px-3">
                    Article special
                </h1></a>

                </div>
            </div>
            <!-- menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="articles-container">
                  <img src="./img/2.png"
                 class="img-fluid img-thumbnail item-img "   alt="img1">
                 <a href="./img/2.png">
                <h1 class=" text-uppercase text-center item-link px-3">
                    Article special
                </h1></a>

                </div>
            </div>
            <!-- menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="articles-container">
                  <img src="./img/4.png"
                 class="img-fluid img-thumbnail item-img "   alt="img1">
                 <a href="./img/4.png">
                <h1 class=" text-uppercase text-center item-link px-3">
                    Article special
                </h1></a>

                </div>
            </div>
            <!-- menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="articles-container">
                  <img src="./img/5.png"
                 class="img-fluid img-thumbnail item-img "   alt="img1">
                 <a href="./img/5.png">
                <h1 class=" text-uppercase text-center item-link px-3">
                    Article special
                </h1></a>

                </div>
            </div>
            <!-- menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="articles-container">
                  <img src="./img/6.png"
                 class="img-fluid img-thumbnail item-img "   alt="img1">
                 <a href="./img/6.png">
                <h1 class=" text-uppercase text-center item-link px-3">
                    Article special
                </h1></a>

                </div>
            </div>
          </div>
        </div>

      </section>

      <!--End Section articles speciales-->


      <!--Histoire section-->
      <section id="histoire" class="py-2 my-1">
        <div class="container back">
          <div class="row">
            <div class="col">
              <div class="histoire-text text-center">
                  <h2 class="h2-histoire display 1 text-capitalize py-5">
                      À PROPOS DE NOUS 
                     
                   </h1>
                   <p class="paragraphe1 text-center text-dark text-capitalize " >My healthy food s'appuie sur la science pour faire évoluer les politiques et les pratiques de l'industrie afin que tous 
                     puissent vivre dans des endroits où il est facile d'obtenir des aliments nutritifs et où l'exposition à
                      des produits malsains est limitée. Les maladies chroniques causées par une mauvaise alimentation provenant 
                      d'aliments et de boissons malsains sont les principales causes de décès et de problèmes de santé aux États-Unis, 
                      notamment l'obésité, le diabète, les maladies du cœur et du foie et la carie dentaire. Les communautés de 
                      couleur et les familles à faible revenu sont les plus durement touchées par ces conditions évitables. 
                      La malnutrition est le facteur qui contribue le plus à toutes ces maladies,
                      en raison de la présence omniprésente et du marketing incessant de la malbouffe et des boissons, 
                      en particulier pour les enfants et les plus vulnérables. Nous coordonnons nos efforts avec ceux d'autres partis
                       pour dynamiser un mouvement national visant à ramener les sucres ajoutés dans les aliments et les boissons à des niveaux sains.</p>
                   <p class="paragraphe2 text-center text-dark text-capitalize py-1">
                      L’utilisation de produits issus de l’AGRICULTURE BIOLOGIQUE s’est imposée comme une évidence. 
                      En effet, chez My Healthy Food, nous avons la conviction profonde que le Bio est meilleur pour notre 
                      santé et est nécessaire pour préserver notre environnement.
                       Nous privilégions les ingrédients frais, de saison et les matières premières de qualité.
                   </p>
                   <p class="paragraphe2 text-center text-dark text-capitalize py-1">Par ailleurs, nous avons mis un point d’honneur à respecter 
                     un mode alimentaire souvent trop oublié : celui des personnes souffrant d’ALLERGIES ET D’INTOLÉRENCES ALIMENTAIRES.
                      Nous avons donc fait le choix d’exclure de nos recettes les 14 allergènes à déclaration obligatoire.</p>
                   
          
                </div>
          </div>
        </div>
      </section>
      <!--fin histoire section-->
      <!--avis-->
      <section id="avis" class="py-5">
      <div id="slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
         <!--carousel item-->
         <div class="carousel-item active">
           <div class="container">
             <div class="row">
               <div class="col-lg-10 mx-auto d-flex justify-content-between avis-item py-3">
                 <!--image-->
                 <div class="align-self-center ml-3"><!--child of flexbox container-->
                   <img src="./img/avis1.png" alt="" class="rounded-circle avis-img">
                 </div>
                 <!--text-->
                 <div class="avis-text px-5">
                   <h2 class="text-capitalize mb-3 primary-color">
                    client
                   </h2>
                   <p class="lead text-muted">Acceuil très chaleureux,très bon repas traditionnell.
                     Brovo et bonne continuation </p>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!--end carousel item-->
         <!--carousel item-->
         <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-auto d-flex justify-content-between avis-item py-3">
                  <!--image-->
                  <div class="align-self-center ml-3"><!--child of flexbox container-->
                    <img src="./img/avis3.png" alt="" class="rounded-circle avis-img">
                  </div>
                  <!--text-->
                  <div class="avis-text px-5">
                    <h2 class="text-capitalize mb-3 primary-color">
                      Cliente
                    </h2>
                    <p class="lead text-muted">Très bon repas acceuil chaleureux </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end carousel item-->
          <!--carousel item-->
         <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-auto d-flex justify-content-between avis-item py-3">
                  <!--image-->
                  <div class="align-self-center ml-3"><!--child of flexbox container-->
                    <img src="./img/avis2.png" alt="" class="rounded-circle avis-img">
                  </div>
                  <!--text-->
                  <div class="avis-text px-5">
                    <h2 class="text-capitalize mb-3 primary-color">
                   Client
                    </h2>
                    <p class="lead text-muted">très bon acceuil,bonne cuisine dommage fermé le dimanche </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end carousel item-->
       </div>
       <!--carousel-control -->
          <a href="#slider" class="carousel-control-prev"
          role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>

          </a>
          <a href="#slider" class="carousel-control-next"
          role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>

          </a>
      
          </section>


      </div>
      

    </section>
      <!--Fin d'avis-->
   <!--service-->
   <section id="services" class="py-5">
 <div class="container">
   <div class="row">
     <!--service mumber-->
     <div class="col-9 col-sm-6 col-lg-4 mx-auto my-4">
       <div class="card">
             <img src="./img/amirr.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <div class="card-title">
              <h3 class="text-capitalize text-muted">Membre de l'equipe</h3>
            </div>
            <h4 class=" titre-service primary-color text-capitalize">Gérant</h4>
          </div>
          <div class="card-footer  
          service-icons d-flex justify-content-between">
          <a fref="#" >
              <i class="  fab fa-facebook fa-2x"></i>
            </a>
            <a fref="#" >
                <i class="  fab fa-instagram fa-2x"></i>
              </a>
              <a fref="#" >
                  <i class="  fab fa-twitter fa-2x"></i>
                </a>
                <a fref="#" >
                    <i class="  fab fa-yelp fa-2x"></i>
                  </a>
           </div>
     
        </div>
    </div> 
    <!--end service mumber-->
    <!--service mumber-->
    <div class="col-9 col-sm-6 col-lg-4 mx-auto my-4">
        <div class="card">
              <img src="./img/salwaaa.jpg" alt="" class="card-img-top">
           <div class="card-body">
             <div class="card-title">
               <h3 class="text-capitalize text-muted">Membre de l'equipe</h3>
             </div>
             <h4 class="titre-service primary-color text-capitalize">Responsable </h4>
           </div>
           <div class="card-footer  
           service-icons d-flex justify-content-between">
           <a fref="#" >
               <i class="  fab fa-facebook fa-2x"></i>
             </a>
             <a fref="#" >
                 <i class="  fab fa-instagram fa-2x"></i>
               </a>
               <a fref="#" >
                   <i class="  fab fa-twitter fa-2x"></i>
                 </a>
                 <a fref="#" >
                     <i class="  fab fa-yelp fa-2x"></i>
                   </a>
            </div>
      
         </div>
     </div> 
     <!--end service mumber-->
     <!--service mumber-->
     <div class="col-9 col-sm-6 col-lg-4 mx-auto my-4">
        <div class="card">
              <img src="./img/ziedddd.jpg" alt="" class="card-img-top">
           <div class="card-body">
             <div class="card-title">
               <h3 class="text-capitalize text-muted">Membre de l'equipe</h3>
             </div>
             <h4 class=" titre-service primary-color text-capitalize">Chef </h4>
           </div>
           <div class="card-footer  
           service-icons d-flex justify-content-between">
           <a fref="#" >
               <i class="  fab fa-facebook fa-2x"></i>
             </a>
             <a fref="#" >
                 <i class="  fab fa-instagram fa-2x"></i>
               </a>
               <a fref="#" >
                   <i class="  fab fa-twitter fa-2x"></i>
                 </a>
                 <a fref="#" >
                     <i class="  fab fa-yelp fa-2x"></i>
                   </a>
            </div>
      
         </div>
     </div> 
     <!--end service mumber-->
 </div>
   </section>
   <!---Fin service-->
   <!--footer-->
   <div class="container-fluid info p-5" id="top-icons footer">
      <div class="row ">
        <div class="col d-flex justify-content-between 
        align-items-baseline flex-wrap">
        <a href="#header top-icons" id="back-to-top" class="btn  px-2
              "> <i class="fas fa-arrow-up primary-color fa-3x"></i></a>
          <div class="info-icons p-2">
             <a fref="#" class=" mr-2 primary-color">
               <i class=" i fab fa-facebook fa-2x"></i>
             </a>
             <a fref="#" class="  mr-2 primary-color">
              <i class="i fab fa-instagram fa-2x"></i>
            </a>
            <a fref="#" class=" mr-2 primary-color">
              <i class="i fab fa-twitter fa-2x"></i>
            </a>
            <a fref="#" class="  mr-2 primary-color">
              <i class=" i fab fa-yelp fa-2x"></i>
            </a>
          </div>
          <h3 class="primary-color p-2 text-capitalize">copyright 2019

          </h3>
        </div>
      </div>
    </div>
    









































     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--ripple-->
    <script src="js/jquery.ripples-min.js"></script>
    <!--js-->
    <script src="script.js"></script>
    <!-------magnific popup-------->
    <script src="./magnific-popup/jquery.magnific-popup.js"></script>
</body>
</html>